* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-fixed {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  border: solid 1px #000;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container div {
  border: solid 1px red;
  padding: 10px;
}

.container ul {
  list-style: none;
  display: flex;
}


.containeer {
  display: none;
}