:root {
  --color-bar: hsl(180, 100%, 80%); 
  --color-bar2: hsl(32, 100%, 80%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  margin-right: 30px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar-fixed {
  animation-name: bar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0; 
  left: 0;
  border: solid 1px #000;
  background: linear-gradient(45deg, var(--color-bar), var(--color-bar2));
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container div {
  padding: 10px;
  text-transform: capitalize;
}

.title {
  font-size: 30px;
}

.container ul {
  list-style: none;
  display: flex;
}


@keyframes bar{
  0% {
    top: 0px;
  } 

  50% {
    background: linear-gradient(45deg, red, green);
    top: 100px;
  }

  100% {
    background-color: brown;
    top: 0;
  }
}



.containeer {
  
  position: relative;
  top: 500px;
}